* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  p {
    border: 1px solid transparent;
    padding: 2rem;
    text-align: center;
    color: white;
    width: fit-content;
    cursor: default;
  }